html {
	height: 100%;
}

body {
	font: 100 16px/1.2em 'Avenir Next', 'Avenir', sans-serif;
	color: #fff;
	-webkit-user-select:none;
	transition: all .5s ease-out;

	background: #000 url(/img/stars.png) no-repeat bottom center;
	height: 100%;
}

main {
	background: rgba(0,0,0,.6);
	height: 100%;
	text-align: center;
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	transition: background .5s ease-out;
}
.hidden {
	opacity: 0;
	display: none;
}

body.unlocked main {
	background: rgba(0,0,0,0);
	transition: background .5s ease-out;
}

@-webkit-keyframes rising {
	0% {
		background-position: bottom center;
	}

	100% {
		background-position: top center;
	}
}

body.beaming {
	-webkit-animation: rising 8s ease-in-out;
	transition: all .5s ease-in-out;

}

body.beamed {
	-webkit-transition: background .5s ease-out;
	-webkit-filter: brightness(0);
	transition: all .5s ease-out;
}

.row {
	flex-grow: 1;
	-webkit-flex-grow: 1;
}

header {
	max-height: 40px;
	display: none;
}

body.unlocked header {
	display: block;
}

#content {
	display: flex;
	display: -webkit-flex;
	flex-direction: column;
	-webkit-flex-direction: column;
	-webkit-justify-content: center;
	width: 100%;
}

#login {
	text-align: center;
	line-height: 1.5em;
	padding: .5em 0;
	font-size: 24px;
}

#passphrase {
	width: 100%;
	font: inherit;
	text-align: center;
	border: none;
	background: rgba(255,255,255,.1);
	margin-bottom: 1em;
	color: #fff;
	transition: background-color .2s ease-out;
	box-sizing: border-box;
	border-radius: 0;
}

#passphrase.error {
	background-color: rgba(158,0,0,0.3);
	transition: background-color .2s ease-in;
}

#login-do {
	background: rgba(255,255,255,0);
	border: 1px solid rgba(255,255,255,.4);
	border-radius: 5px;
	font-size: inherit;
	font: inherit;
	color: rgba(255,255,255,.6);
	min-width: 200px;
	padding: .25em 0;
	transition: all .2s ease-out;
}

#login-do:hover, #login-do:active {
	color: #000;
	border: 1px solid rgba(255,255,255,0);
	background: rgba(255,255,255,.6);
	transition: all .2s ease-in;
}

body.unlocked #login {
	display: none;
}

#open {
	display: none;
	-webkit-filter: blur(2px);
}
body.unlocked #open {
	display: block;
	-webkit-filter: blur(0px);
}

#beam {
	font-size: 75px;
	line-height: 1;
	display: block;
	padding: 1em 0;
	opacity: 1;
	transition: opacity .2s ease-out;
}

#beam span {
	display: block;
	text-transform: uppercase;

	white-space: pre;
}

#line-1 {
	white-space: pre;
	opacity: 1;
	transform: scale(1);
	letter-spacing: .05em;
	transition: all .5s ease-out;
}

body.beaming #beam {
	opacity: 0;
	transform: scale(1.1);
	transition: all .5s ease-out;
}

#beaming {
	list-style: none;
	position: relative;
}

#beaming li {
	font-size: 100px;
	font-weight: bolder;
	width: 100%;
	position: absolute;
	top: 0px;
	transform: translateY(0em);
	opacity: 0;
}

@-webkit-keyframes countdown {
	0% {
		transform: translateY(-2em);
		opacity: 0;
		-webkit-filter: blur(2px);
	}

	30% {
		transform: translateY(0em);
		opacity: 1;
		-webkit-filter: blur(0px);
	}

	70% {
		transform: translateY(0em);
		opacity: 1;
		-webkit-filter: blur(0px);
	}

	100% {
		transform: translateY(2em);
		opacity: 0;
		-webkit-filter: blur(2px);
	}
}
body.beaming #beaming .active-number {
	-webkit-animation: 1s countdown;
}

body.beaming #beaming #frase.active-number {
	-webkit-animation: 3s countdown;
}

#frase {
	font-weight: 100 !important;
}

#frase.small {
	font-size: 70px;
}

footer {
	font-size:48px;
	line-height: 1em;
	opacity: .3;
	max-height: 60px;
}

body.unlocked footer {
	display: none;
}



@media all and (max-width:500px) {
	section {
		width: 95%;
	}
}